.main {
  width: 100%;
  height: 100dvh;
  background-color: var(--black);
  display: flex;
  position: relative;
  overflow: hidden;
}

.aside {
  width: 320px;
  flex-shrink: 0;
  background-color: var(--grey-800);
  border-right: 1px solid var(--grey-600);
  height: 100%;
  z-index: 1;
  padding: var(--sp3);
  gap: var(--sp3);
  display: flex;
  flex-direction: column;

  @media all and (max-width: 960px) {
    width: 260px;
  }

  @media all and (max-width: 768px) {
    position: absolute;
    width: calc(100vw - 48px);
    left: 100vw;

    transition: transform 0.2s ease-out;

    &[popover]:popover-open {
      transform: translateX(-100%);
    }
  }

  .asideHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .asideHeaderText {
      font-size: var(--fs5);
      color: var(--grey-100);
      display: inline-flex;
      flex: 1;
      gap: var(--sp2);
    }

    .bullishLogo {
      display: inline-block;
      max-width: var(--sp7);
    }
  }

  .chatHistorySearch {
    background-color: transparent;
    border: 1px solid var(--grey-400);
    border-radius: var(--rd2);
    line-height: 40px;
    height: 40px;
    padding: 0 var(--sp4);
    color: var(--grey-50);
    transition: border 0.2s ease-out;

    &:hover,
    &:focus {
      border: 1px solid var(--grey-200);
    }
  }

  .asideNewChatButton {
    border: 0;
    background-color: var(--primary-blue);
    color: var(--black);
    min-height: 36px;
    min-width: 36px;
    font-size: var(--fs3);
    padding: var(--sp1) var(--sp4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rd1);
    font-weight: 500;
    gap: var(--sp1);

    &:hover,
    &:focus {
      outline-color: color-mix(in srgb, var(--primary-blue) 80%, black);
      background-color: color-mix(in srgb, var(--primary-blue) 80%, black);
      color: var(--white);
    }
  }
}

.iconButton {
  border: 1px solid var(--grey-400);
  background-color: transparent;
  color: var(--grey-50);
  min-height: 36px;
  min-width: 36px;
  font-size: var(--fs6);
  padding: var(--sp1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rd1);

  &:hover,
  &:focus {
    border: 1px solid var(--grey-200);
  }
}

.chatHistoryWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--sp1);
  flex: 1 1 auto;

  .chatHistoryItem {
    display: flex;
    transition: background-color 0.2s ease-out;
    background-color: transparent;
    align-items: center;
    border-radius: var(--rd2);

    &:hover {
      background-color: var(--grey-600);
    }

    .chatHistoryButton {
      border: 0;
      background-color: transparent;
      color: var(--grey-50);
      min-height: 36px;
      min-width: 36px;
      font-size: var(--fs3);
      padding: var(--sp2) var(--sp0) var(--sp2) var(--sp2);
      display: inline-flex;
      align-items: flex-start;
      flex: 1 0 auto;
      max-width: calc(100% - 36px);
      text-align: left;
      line-height: calc(1em + 0.5rem);
      gap: var(--sp2);
    }

    .chatDeleteButton {
      border: 0;
      background-color: transparent;
      color: var(--grey-50);
      min-height: 36px;
      min-width: 36px;
      font-size: var(--fs6);
      padding: var(--sp1);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--primary-red);

      &:hover,
      &:focus {
        background-color: var(--grey-700);
      }
    }
  }
}

.chatWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatHeader {
  color: var(--grey-100);
  font-weight: 500;
  font-size: var(--fs4);
  padding: var(--sp1) var(--sp4);
  height: var(--sp8);
  border-bottom: 1px solid var(--grey-500);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.chatList {
  padding: var(--sp5);
  flex: 1;
  overflow-y: auto;
  gap: var(--sp4);
  display: flex;
  flex-direction: column;

  @media all and (max-width: 768px) {
    padding: var(--sp4);
    gap: var(--sp3);
  }
}

.chatMessage {
  display: flex;
  gap: var(--sp1);

  .chatMessageAuthor {
    width: 36px;
    height: 36px;
    border-radius: var(--rd-round);
    background-color: var(--grey-400);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @media all and (max-width: 768px) {
      display: none;
    }
  }
  .chatMessageContent {
    background-color: var(--grey-800);
    border-radius: var(--rd0) var(--rd3) var(--rd3) var(--rd3);
    padding: var(--sp3) var(--sp4);
    color: var(--grey-100);
    max-width: 100ch;
    overflow-x: auto;
  }

  .chatMessageMarkdown {
    --color-canvas-default: transparent;
    --color-canvas-subtle: var(--grey-700);
  }

  &.isUser {
    flex-direction: row-reverse;

    .chatMessageAuthor {
      background-color: var(--primary-green);
    }

    .chatMessageContent {
      border-radius: var(--rd3) var(--rd0) var(--rd3) var(--rd3);
      background-color: color-mix(in oklab, var(--primary-green) 35%, var(--black));
    }
  }
}

.chatForm {
  position: relative;
  padding: 0;
  display: flex;
  border: 1px solid var(--grey-500);
  inline-size: 100%;
  max-inline-size: 900px;
  margin-inline: auto;

  &:focus-within {
    border-color: var(--primary-green);
  }

  .chatInput {
    width: 100%;
    background-color: transparent;
    border: 0;
    field-sizing: content;
    min-height: 5lh;
    max-height: 10lh;
    color: var(--grey-50);
    padding: var(--sp3) var(--sp4) var(--sp0);
    margin-bottom: var(--sp8);
    resize: none;

    outline: 1px solid transparent;
    outline-offset: 0;
    transition: outline 0.2s ease-out;

    @media all and (max-width: 768px) {
      min-height: 2lh;
      max-height: 6lh;
      padding: var(--sp2) var(--sp3) var(--sp0);
    }
  }

  .chatSendButton {
    position: absolute;
    bottom: var(--sp2);
    right: var(--sp3);
    border: 0;
    background-color: var(--primary-green);
    color: var(--black);
    min-height: 36px;
    min-width: 36px;
    font-size: var(--fs3);
    padding: var(--sp1) var(--sp4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rd1);
    font-weight: 500;

    &:hover,
    &:focus {
      outline-color: color-mix(in srgb, var(--primary-green) 80%, black);
      background-color: color-mix(in srgb, var(--primary-green) 80%, black);
    }

    .isLoading {
      background-color: var(--primary-red);

      &:hover,
      &:focus {
        outline-color: color-mix(in srgb, var(--primary-red) 80%, black);
        background-color: color-mix(in srgb, var(--primary-red) 80%, black);
      }
    }
  }

  .chatSendLegend {
    position: absolute;
    color: var(--grey-400);
    font-size: var(--fs2);
    bottom: var(--sp2);
    left: var(--sp3);
    font-weight: 500;
  }
}

.hStack {
  display: flex;
  width: 100%;
}

.vStack {
  display: flex;
  flex-direction: column;
  width: 100%;
}
