.main {
  width: 100%;
  height: 100dvh;
  background-color: var(--black);
  display: flex;
  position: relative;
  overflow: hidden;

  .mainLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey-100);
    width: 100%;
    font-weight: 400;
    font-size: var(--fs5);
    gap: var(--sp3);

    & svg {
      max-width: var(--fs7);
    }
  }
}

.aside {
  width: 320px;
  flex-shrink: 0;
  background-color: var(--grey-800);
  border-right: 1px solid var(--grey-700);
  height: 100%;
  z-index: 1;
  padding: var(--sp3);
  gap: var(--sp3);
  display: flex;
  flex-direction: column;

  @media all and (max-width: 960px) {
    position: absolute;
    width: calc(100vw - 48px);
    left: 100vw;
    max-width: 480px;
    border: 0;

    transition:
      transform 0.2s ease-out,
      backdrop-filter 0.2s ease-out;

    &[popover]:popover-open {
      transform: translateX(-100%);
    }

    &[popover]::backdrop {
      backdrop-filter: blur(2px);
    }
  }

  .asideHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .asideHeaderText {
      font-size: var(--fs5);
      color: var(--grey-200);
      display: inline-flex;
      flex: 1;
      gap: var(--sp2);
    }

    .bullishLogo {
      display: inline-block;
      max-width: var(--sp6);
    }
  }

  .chatHistorySearch {
    background-color: transparent;
    border: 1px solid var(--grey-400);
    border-radius: var(--rd2);
    line-height: 40px;
    height: 40px;
    padding: 0 var(--sp4);
    color: var(--grey-50);

    &:hover,
    &:focus {
      border-color: var(--grey-50);
    }
  }

  .asideNewChatButton {
    min-height: 36px;
    min-width: 36px;
    font-size: var(--fs3);
    padding: var(--sp1) var(--sp4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rd1);
    font-weight: 500;
    gap: var(--sp1);
    color: var(--grey-50);
    background-color: color-mix(in oklab, var(--primary-blue) 35%, black);
    border: 1px solid color-mix(in oklab, var(--primary-blue) 65%, black);

    &:hover,
    &:focus {
      background-color: color-mix(in srgb, var(--primary-blue) 65%, black);
      color: var(--white);
    }
  }
}

.iconButton {
  border: 1px solid var(--grey-600);
  background-color: var(--grey-700);
  color: var(--grey-50);
  min-height: 36px;
  min-width: 36px;
  font-size: var(--fs6);
  padding: var(--sp1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rd1);

  &:hover,
  &:focus {
    border: 1px solid var(--grey-400);
    background-color: var(--grey-600);
  }

  &.backToBottomButton {
    opacity: 0.7;
    position: sticky;
    align-self: flex-end;
    bottom: var(--sp0);
    right: var(--sp0);

    &.isHidden {
      display: none;
      pointer-events: none;
    }

    &:not(.isHidden) {
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}

.chatHistoryWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--sp1);
  flex: 1 1 auto;
  overflow: auto;

  .chatHistoryItem {
    display: flex;
    transition: background-color 0.2s ease-out;
    background-color: transparent;
    align-items: center;
    border-radius: var(--rd2);

    &[data-is-active='true'],
    &:hover,
    &:focus-within {
      background-color: var(--grey-600);

      .chatHistoryButton {
        color: var(--white);
      }
    }

    .chatHistoryButton {
      border: 0;
      background-color: transparent;
      color: var(--grey-200);
      min-height: 36px;
      min-width: 36px;
      font-size: var(--fs3);
      padding: var(--sp2) var(--sp0) var(--sp2) var(--sp2);
      display: inline-flex;
      align-items: flex-start;
      flex: 1 0 auto;
      max-width: calc(100% - 36px);
      text-align: left;
      line-height: calc(1em + 0.5rem);
      gap: var(--sp2);

      & svg {
        flex-shrink: 0;
      }

      &:focus {
        outline-color: transparent;
      }
    }

    .chatDeleteButton {
      border: 0;
      background-color: transparent;
      color: var(--grey-50);
      min-height: 36px;
      min-width: 36px;
      font-size: var(--fs6);
      padding: var(--sp1);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: color-mix(in oklab, var(--primary-red) 75%, black);

      & svg {
        will-change: transform;
        transition: transform 0.2s ease-out;
      }

      &:hover,
      &:focus {
        color: var(--primary-red);
        outline-color: transparent;

        & svg {
          transform: scale(1.2);
        }
      }
    }
  }
}

.chatWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatHeader {
  color: var(--grey-200);
  font-weight: 500;
  font-size: var(--fs4);
  padding: var(--sp1) var(--sp5);
  height: var(--sp9);
  border-bottom: 1px solid var(--grey-700);
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media all and (max-width: 960px) {
    padding: var(--sp1) var(--sp2) var(--sp1) var(--sp4);
    font-size: var(--fs3);
    height: var(--sp8);
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    display: block;
    right: 0;
    bottom: calc(-1 * var(--sp2) - 1px);
    height: var(--sp2);
    background: linear-gradient(to top, transparent 0%, var(--black) 100%);
  }

  .chatTitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.emptyMessageWrapper {
  max-width: 640px;
  margin-inline: auto;
  text-align: center;
  text-wrap: pretty;

  .emptyMessageTitle {
    color: var(--grey-50);
    display: flex;
    gap: var(--sp2);
    font-size: var(--fs7);
    align-items: center;
    justify-content: center;
    margin-bottom: var(--sp5);

    @media all and (max-width: 960px) {
      font-size: var(--fs6);
    }
  }

  .emptyMessageSubtitle {
    color: var(--grey-200);
    font-size: var(--fs3);

    & em {
      color: color-mix(in oklab, var(--primary-yellow) 75%, var(--grey-300));
      font-style: normal;
    }

    & strong {
      color: var(--primary-green);
      font-weight: 500;
    }
  }
}

.chatList {
  padding: var(--sp5);
  flex: 1;
  overflow-y: auto;
  gap: var(--sp4);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-inline: auto;
  max-width: 100%;
  width: 1170px; /* 1045px + padding + 2 avatar sizes sp that visually the chat boxes are as wide as the text area below at max */

  @media all and (max-width: 960px) {
    padding: var(--sp4);
    gap: var(--sp3);
  }
}

.chatMessage {
  display: flex;
  gap: var(--sp1);

  .chatMessageAuthor {
    width: 36px;
    height: 36px;
    border-radius: var(--rd-round);
    background-color: var(--grey-700);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: color-mix(in oklab, var(--primary-blue) 75%, white);

    @media all and (max-width: 960px) {
      display: none;
    }
  }
  .chatMessageContent {
    background-color: var(--grey-800);
    border-radius: var(--rd0) var(--rd3) var(--rd3) var(--rd3);
    padding: var(--sp3) var(--sp4);
    color: var(--grey-50);
    max-width: 100ch;
    overflow-x: auto;

    .chatMessageMarkdown {
      --color-canvas-default: transparent;
      --color-canvas-subtle: var(--grey-700);
    }

    &[data-color-mode='dark'] {
      .chatMessageMarkdown {
        --color-canvas-default: transparent;
        --color-canvas-subtle: var(--grey-700);
      }
    }
  }

  &.isUser {
    flex-direction: row-reverse;

    .chatMessageAuthor {
      color: var(--primary-green);
    }

    .chatMessageContent {
      border-radius: var(--rd3) var(--rd0) var(--rd3) var(--rd3);
      background-color: color-mix(in oklab, var(--primary-green) 35%, var(--black));
    }
  }
}

.chatForm {
  display: flex;
  border: 1px solid var(--grey-500);
  inline-size: 100%;
  max-inline-size: 1045px;
  margin-inline: auto;
  flex-direction: column;
  position: relative;

  &:focus-within {
    border-color: var(--primary-green);
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    display: block;
    right: 0;
    top: calc(-1 * var(--sp2) - 1px);
    height: var(--sp2);
    background: linear-gradient(to bottom, transparent 0%, var(--black) 100%);
  }

  .chatInput {
    width: 100%;
    background-color: transparent;
    border: 0;
    field-sizing: content;
    min-height: 2lh;
    max-height: 8lh;
    color: var(--grey-50);
    padding: var(--sp3) var(--sp4) var(--sp0);
    resize: none;

    outline: 1px solid transparent;
    outline-offset: 0;
    transition: outline 0.2s ease-out;

    @media all and (max-width: 960px) {
      min-height: 2lh;
      max-height: 4lh;
      padding: var(--sp2) var(--sp3) var(--sp0);
    }
  }

  .chatFormFooter {
    display: flex;
    padding: var(--sp0) var(--sp3) var(--sp2);
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--sp1);
  }

  .chatSendButton {
    border: 0;
    min-height: 36px;
    min-width: 36px;
    font-size: var(--fs3);
    padding: var(--sp1) var(--sp4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rd1);
    font-weight: 500;
    color: var(--grey-50);
    gap: var(--sp1);

    --bg-color: var(--primary-green);
    --mix-percent-bg: 35%;
    --mix-percent-border: 65%;
    background-color: color-mix(in oklab, var(--bg-color) var(--mix-percent-bg), black);
    border: 1px solid color-mix(in oklab, var(--bg-color) var(--mix-percent-border), black);

    &:hover,
    &:focus {
      --mix-percent-bg: 65%;
      color: var(--white);
    }
    &:focus {
      outline-color: color-mix(in srgb, var(--bg-color) 80%, black);
    }

    &[data-is-loading='true'] {
      --bg-color: var(--primary-red);

      &:hover,
      &:focus {
        --mix-percent-bg: 35%;
        color: var(--white);
      }
    }
  }

  .chatSendLegend {
    color: var(--grey-400);
    font-size: var(--fs2);
    font-weight: 500;
  }
}
