.main {
  width: 100%;
  height: 100dvh;
  background-color: var(--grey-1000);
  display: flex;
  position: relative;
  overflow: hidden;

  .mainLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey-100);
    width: 100%;
    font-weight: 400;
    font-size: var(--fs5);
    gap: var(--sp3);

    & svg {
      max-width: var(--fs7);
    }
  }
}

.aside {
  width: 320px;
  flex-shrink: 0;
  background-color: var(--grey-800);
  border-right: 1px solid var(--grey-700);
  height: 100%;
  z-index: 1;
  padding: var(--sp3);
  gap: var(--sp3);
  display: flex;
  flex-direction: column;

  @media all and (max-width: 960px) {
    position: absolute;
    width: calc(100vw - 48px);
    left: 100vw;
    max-width: 480px;
    border: 0;

    transition:
      transform 0.2s ease-out,
      backdrop-filter 0.2s ease-out;

    &[popover]:popover-open {
      transform: translateX(-100%);
    }

    &[popover]::backdrop {
      backdrop-filter: blur(2px);
    }
  }

  .asideHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .asideHeaderText {
      font-size: var(--fs5);
      color: var(--grey-200);
      display: inline-flex;
      flex: 1;
      gap: var(--sp2);
    }

    .bullishLogo {
      display: inline-block;
      max-width: var(--sp6);
    }
  }

  .chatHistorySearch {
    background-color: transparent;
    border: 1px solid var(--grey-400);
    border-radius: var(--rd2);
    line-height: 40px;
    height: 40px;
    padding: 0 var(--sp4);
    color: var(--grey-50);

    &:hover,
    &:focus {
      border-color: var(--grey-50);
    }
  }

  .asideNewChatButton {
    min-height: 36px;
    min-width: 36px;
    font-size: var(--fs3);
    padding: var(--sp1) var(--sp4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rd1);
    font-weight: 500;
    gap: var(--sp1);
    color: var(--grey-50);
    background-color: color-mix(in oklab, var(--primary-blue) 35%, var(--grey-1000));
    border: 1px solid color-mix(in oklab, var(--primary-blue) 65%, var(--grey-1000));

    &:hover,
    &:focus {
      background-color: color-mix(in srgb, var(--primary-blue) 65%, var(--grey-1000));
      color: var(--grey-0);
    }
  }

  .asideGiveFeedbackButton {
    min-height: 36px;
    min-width: 36px;
    font-size: var(--fs3);
    text-decoration: none;
    padding: var(--sp1) var(--sp4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rd1);
    font-weight: 500;
    gap: var(--sp1);
    color: var(--grey-100);
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: color-mix(in srgb, var(--primary-blue) 15%, transparent);
      color: color-mix(in srgb, var(--primary-blue) 15%, var(--grey-0));
    }
  }
}

.iconButton {
  border: 1px solid var(--grey-600);
  background-color: var(--grey-700);
  color: var(--grey-50);
  min-height: 36px;
  min-width: 36px;
  font-size: var(--fs6);
  padding: var(--sp1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rd1);

  &:hover,
  &:focus {
    border: 1px solid var(--grey-400);
    background-color: var(--grey-600);
  }

  &.backToBottomButton {
    opacity: 0.7;
    position: sticky;
    align-self: flex-end;
    bottom: var(--sp0);
    right: var(--sp0);

    &.isHidden {
      display: none;
      pointer-events: none;
    }

    &:not(.isHidden) {
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}

.chatHistoryWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--sp1);
  flex: 1 1 auto;
  overflow: auto;

  .chatHistoryItem {
    display: flex;
    transition: background-color 0.2s ease-out;
    background-color: transparent;
    align-items: center;
    border-radius: var(--rd2);

    &[data-is-active='true'],
    &:hover,
    &:focus-within {
      background-color: var(--grey-600);

      .chatHistoryButton {
        color: var(--grey-0);
      }
    }

    .chatHistoryButton {
      border: 0;
      background-color: transparent;
      color: var(--grey-200);
      min-height: 36px;
      min-width: 36px;
      font-size: var(--fs3);
      padding: var(--sp2) var(--sp0) var(--sp2) var(--sp2);
      display: inline-flex;
      align-items: flex-start;
      flex: 1 0 auto;
      max-width: calc(100% - 36px);
      text-align: left;
      line-height: calc(1em + 0.5rem);
      gap: var(--sp2);

      & svg {
        flex-shrink: 0;
      }

      &:focus {
        outline-color: transparent;
      }
    }

    .chatDeleteButton {
      border: 0;
      background-color: transparent;
      color: var(--grey-50);
      min-height: 36px;
      min-width: 36px;
      font-size: var(--fs6);
      padding: var(--sp1);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: color-mix(in oklab, var(--primary-red) 75%, var(--grey-1000));

      & svg {
        will-change: transform;
        transition: transform 0.2s ease-out;
      }

      &:hover,
      &:focus {
        color: var(--primary-red);
        outline-color: transparent;

        & svg {
          transform: scale(1.2);
        }
      }
    }
  }
}

.chatWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatHeader {
  color: var(--grey-200);
  font-weight: 500;
  font-size: var(--fs4);
  padding: var(--sp1) var(--sp5);
  height: var(--sp9);
  border-bottom: 1px solid var(--grey-700);
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media all and (max-width: 960px) {
    padding: var(--sp1) var(--sp2) var(--sp1) var(--sp4);
    font-size: var(--fs3);
    height: var(--sp8);
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    display: block;
    right: 0;
    bottom: calc(-1 * var(--sp2) - 1px);
    height: var(--sp2);
    background: linear-gradient(to top, transparent 0%, var(--grey-1000) 100%);
  }

  .chatTitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.emptyMessageWrapper {
  max-width: 640px;
  margin-inline: auto;
  text-align: center;
  text-wrap: pretty;

  .emptyMessageTitle {
    color: var(--grey-50);
    display: flex;
    gap: var(--sp2);
    font-size: var(--fs7);
    align-items: center;
    justify-content: center;
    margin-bottom: var(--sp5);

    @media all and (max-width: 960px) {
      font-size: var(--fs6);
    }
  }

  .emptyMessageSubtitle {
    color: var(--grey-200);
    font-size: var(--fs3);

    & em {
      color: color-mix(in oklab, var(--primary-yellow) 75%, var(--grey-300));
      font-style: normal;
    }

    & strong {
      color: var(--primary-green);
      font-weight: 500;
    }
  }
}

.chatList {
  padding: var(--sp5);
  flex: 1;
  overflow-y: auto;
  gap: var(--sp4);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-inline: auto;
  max-width: 100%;
  width: 1170px; /* 1045px + padding + 2 avatar sizes sp that visually the chat boxes are as wide as the text area below at max */

  @media all and (max-width: 960px) {
    padding: var(--sp4);
    gap: var(--sp3);
  }
}

.chatMessage {
  display: flex;
  gap: var(--sp1);

  .chatMessageAuthor {
    width: 36px;
    height: 36px;
    border-radius: var(--rd-round);
    background-color: var(--grey-700);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: color-mix(in oklab, var(--primary-blue) 75%, var(--grey-0));

    @media all and (max-width: 960px) {
      display: none;
    }
  }
  .chatMessageContent {
    background-color: var(--grey-800);
    border-radius: var(--rd0) var(--rd3) var(--rd3) var(--rd3);
    padding: var(--sp3) var(--sp4);
    color: var(--grey-50);
    max-width: 100ch;
    overflow-x: auto;

    &.isLoading {
      animation: l1 0.5s linear infinite alternate;
    }

    &.hasError {
      background-color: color-mix(in oklab, var(--primary-red) 35%, var(--grey-1000));
    }

    .chatMessageMarkdown {
      --color-canvas-default: transparent;
      --color-canvas-subtle: var(--grey-700);
    }

    .chatMessagePreview {
      white-space: pre-wrap;
      font-family: var(--sans-font-family);
    }

    .retryButton {
      color: color-mix(in oklab, var(--primary-red) 64%, var(--grey-0));
      background: transparent;
      border: 0;
      text-decoration: underline;
    }

    &[data-color-mode='dark'] {
      .chatMessageMarkdown {
        --color-canvas-default: transparent;
        --color-canvas-subtle: var(--grey-700);
      }
    }
  }

  &.isUser {
    flex-direction: row-reverse;

    .chatMessageAuthor {
      color: var(--primary-green);
    }

    .chatMessageContent {
      border-radius: var(--rd3) var(--rd0) var(--rd3) var(--rd3);
      background-color: color-mix(in oklab, var(--primary-green) 35%, var(--grey-1000));
    }
  }
}

.chatForm {
  display: flex;
  border: 1px solid var(--grey-500);
  inline-size: 100%;
  max-inline-size: 1045px;
  margin-inline: auto;
  flex-direction: column;
  position: relative;

  &:focus-within {
    border-color: var(--primary-green);
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    display: block;
    right: 0;
    top: calc(-1 * var(--sp2) - 1px);
    height: var(--sp2);
    background: linear-gradient(to bottom, transparent 0%, var(--grey-1000) 100%);
  }

  .chatInput {
    width: 100%;
    background-color: transparent;
    border: 0;
    field-sizing: content;
    min-height: 2lh;
    max-height: 8lh;
    color: var(--grey-50);
    padding: var(--sp3) var(--sp4) var(--sp0);
    resize: none;

    outline: 1px solid transparent;
    outline-offset: 0;
    transition: outline 0.2s ease-out;

    @media all and (max-width: 960px) {
      min-height: 2lh;
      max-height: 4lh;
      padding: var(--sp2) var(--sp3) var(--sp0);
    }
  }

  .chatFormFooter {
    display: flex;
    padding: var(--sp0) var(--sp3) var(--sp2);
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--sp1);
  }

  .chatSendButton {
    border: 0;
    min-height: 36px;
    min-width: 36px;
    font-size: var(--fs3);
    padding: var(--sp1) var(--sp4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--rd1);
    font-weight: 500;
    color: var(--grey-50);
    gap: var(--sp1);

    --bg-color: var(--primary-green);
    --mix-percent-bg: 35%;
    --mix-percent-border: 65%;
    background-color: color-mix(in oklab, var(--bg-color) var(--mix-percent-bg), var(--grey-1000));
    border: 1px solid color-mix(in oklab, var(--bg-color) var(--mix-percent-border), var(--grey-1000));

    &:hover,
    &:focus {
      --mix-percent-bg: 65%;
      color: var(--grey-0);
    }
    &:focus {
      outline-color: color-mix(in srgb, var(--bg-color) 80%, var(--grey-1000));
    }

    &[data-is-loading='true'] {
      --bg-color: var(--primary-red);

      &:hover,
      &:focus {
        --mix-percent-bg: 35%;
        color: var(--grey-0);
      }
    }
  }

  .chatSendLegend {
    color: var(--grey-400);
    font-size: var(--fs2);
    font-weight: 500;
  }
}

.chatConfigWrapper {
  flex-direction: column;
  gap: var(--sp4);
  border-radius: var(--rd2);
  max-height: 100dvh;
  overflow-y: scroll;

  @media all and (max-width: 960px) {
    inset-block: unset;
    position: fixed;
    width: 100%;
    max-width: 600px;
    margin-inline: auto;
    bottom: 0;
    background-color: var(--grey-800);
    padding: var(--sp5);
    border: none;
    display: none;
    max-height: 90dvh;

    &[popover]:popover-open {
      display: flex;
    }

    &[popover]::backdrop {
      backdrop-filter: blur(2px);
    }
  }

  @media all and (min-width: 961px) {
    padding: var(--sp3);
    width: 300px;
    margin-right: -300px;
    border-left: 1px solid var(--grey-700);
    flex-shrink: 0;
    max-height: auto;
    display: flex;

    transition: margin-right 0.2s ease-out;

    &.isOpen {
      margin-right: 0;
    }
  }
}

.loader {
  animation: l1 1s linear infinite alternate;
}

@keyframes l1 {
  to {
    opacity: 0.3;
  }
}

.tooltipWrapper {
  position: relative;
  display: inline-flex;
  align-self: center;
  margin-inline: var(--sp1);
}

.tooltipButton {
  cursor: pointer;
  background-color: transparent;
  color: currentColor;
  border: none;
  padding: 0;
  display: inline-flex;
  font-size: inherit;
}

.tooltipContent[data-open] {
  background-color: var(--grey-800);
  border: 1px solid var(--grey-700);
  color: var(--grey-200);
  padding: var(--sp2);
  border-radius: var(--sp1);
  width: 320px;
  font-size: var(--fs2);
}

.modal {
  position: fixed;
  inset: 0;
  width: 600px;
  max-width: 100%;
  height: fit-content;
  max-height: calc(100dvh - 24px);
  margin: auto;
  overflow: auto;
  border: none;

  background-color: var(--grey-700);
  padding: var(--sp5) var(--sp6);
  border-radius: var(--rd2);

  &[popover]::backdrop {
    backdrop-filter: blur(2px);
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  padding: var(--sp4) var(--sp0);
  transition: background-color 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: var(--sp3);

  &:is(button) {
    background: transparent;
    border: none;
    border-radius: var(--rd1);
    text-align: left;
    padding-inline: var(--sp2);

    &:hover {
      background-color: var(--grey-800);
    }
  }

  &:not(:first-of-type) {
    border-top: 1px solid var(--grey-500);
  }

  & h2 {
    font-size: var(--fs3);
    color: color-mix(in oklab, var(--primary-green) 70%, var(--grey-0));
    font-weight: 600;
  }

  & p {
    font-size: var(--fs3);
    color: var(--grey-100);
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp1);
}

.tag {
  --color: var(--grey-600);
  font-size: var(--fs2);
  background-color: var(--color);
  color: color-mix(in oklab, var(--color) 30%, var(--grey-0));
  padding: var(--sp0) var(--sp2);
  border-radius: var(--rd1);
}

.hStack {
  display: flex;
  gap: var(--sp2);
  flex-wrap: wrap;
}

.vStack {
  display: flex;
  flex-direction: column;
  gap: var(--sp2);
}

.scrollY {
  overflow-y: auto;
}

.spaceBetween {
  justify-content: space-between;
}

.alignItemsCenter {
  align-items: center;
}

.heading {
  font-size: var(--fs4);
  color: var(--grey-200);
}

.text {
  color: var(--color, var(--grey200));
}

.alignLeft {
  text-align: left;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.button {
  --text-color: var(--grey-50);
  --color: var(--grey-300);
  --border-color-pct: 65%;
  --bg-color-pct: 35%;

  min-height: 36px;
  min-width: 36px;
  font-size: var(--fs3);
  padding: var(--sp1) var(--sp4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rd1);
  font-weight: 500;
  gap: var(--sp1);
  color: var(--text-color);
  background-color: color-mix(in oklab, var(--color) var(--bg-color-pct), var(--grey-1000));
  border: 1px solid color-mix(in oklab, var(--color) var(--border-color-pct), var(--grey-1000));

  &:hover,
  &:focus {
    --bg-color-pct: 45%;
    color: var(--grey-0);
  }

  &.variantOutline {
  }

  &.variantFilled {
    --color: var(--grey-300);
    --border-color-pct: 65%;
    --bg-color-pct: 65%;

    &:hover,
    &:focus {
      --bg-color-pct: 75%;
      --border-color-pct: 75%;
      color: var(--grey-0);
    }
  }

  &.sizeSmall {
    min-width: 32px;
    min-height: 32px;
    padding: var(--sp0) var(--sp1);
  }

  &:disabled {
    opacity: 0.75;
    filter: grayscale(0.4);
    pointer-events: none;
  }
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: var(--sp1);
}

.label {
  color: var(--grey-200);
  font-size: var(--fs3);
}

.fullWidth {
  width: 100%;
}

.input,
.textarea {
  background-color: transparent;
  border: 1px solid var(--grey-400);
  border-radius: var(--rd2);
  line-height: 40px;
  height: 40px;
  padding: 0 var(--sp3);
  color: var(--grey-50);
  width: 100%;
  font-size: var(--fs3);

  outline: 1px solid transparent;
  outline-offset: 0;
  transition: outline 0.2s ease-out;

  &.sizeSmall {
    width: auto;
    padding: var(--sp0) var(--sp2);
    line-height: 32px;
    height: 32px;
    font-size: var(--fs2);
  }

  &:hover,
  &:focus {
    border-color: var(--grey-100);
  }

  &[type='range'] {
    padding-inline: 0;
  }

  &:is(textarea) {
    max-height: 8lh;
    field-sizing: content;
    resize: vertical;

    @media all and (max-width: 960px) {
      max-height: 4lh;
    }
  }
}

.colorGrey50 {
  --color: var(--grey-50);
}
.colorGrey100 {
  --color: var(--grey-100);
}
.colorGrey200 {
  --color: var(--grey-200);
}
.colorGrey300 {
  --color: var(--grey-300);
}
.colorGrey400 {
  --color: var(--grey-400);
}
.colorGrey500 {
  --color: var(--grey-500);
}
.colorGrey600 {
  --color: var(--grey-600);
}
.colorGrey700 {
  --color: var(--grey-700);
}
.colorGrey800 {
  --color: var(--grey-800);
}
.colorGrey1000 {
  --color: var(--grey-1000);
}
.colorGreen {
  --color: var(--primary-green);
}
.colorBlue {
  --color: var(--primary-blue);
}
.colorYellow {
  --color: var(--primary-yellow);
}
.colorRed {
  --color: var(--primary-red);
}
.fs1 {
  font-size: var(--fs1);
}
.fs2 {
  font-size: var(--fs2);
}
.fs3 {
  font-size: var(--fs3);
}
.fs4 {
  font-size: var(--fs4);
}
.fs5 {
  font-size: var(--fs5);
}
.fs6 {
  font-size: var(--fs6);
}
.fs7 {
  font-size: var(--fs7);
}
.fs8 {
  font-size: var(--fs8);
}

.gap0 {
  gap: var(--sp0);
}
.gap1 {
  gap: var(--sp1);
}
.gap2 {
  gap: var(--sp2);
}
.gap3 {
  gap: var(--sp3);
}
.gap4 {
  gap: var(--sp4);
}
.gap5 {
  gap: var(--sp5);
}
.gap6 {
  gap: var(--sp6);
}
.gap7 {
  gap: var(--sp7);
}
.gap8 {
  gap: var(--sp8);
}
.gap9 {
  gap: var(--sp9);
}
